<div class="wrapper">
  <h1 class="mb-4">Reportes de Productos de cadenas productivas</h1>

  <div class="btn-group">
    <button class="btn btn-light btn-sm dropdown-toggle text-secondary" type="button" data-toggle="dropdown"
      aria-haspopup="true" aria-expanded="false">
      Todos los años
    </button>
  </div>
  <div class="btn-group">
    <button class="btn btn-light btn-sm dropdown-toggle text-secondary" type="button" data-toggle="dropdown"
      aria-haspopup="true" aria-expanded="false">
      Todos los meses
    </button>
  </div>
  <div class="btn-group">
    <button class="btn btn-light btn-sm dropdown-toggle text-secondary" type="button" data-toggle="dropdown"
      aria-haspopup="true" aria-expanded="false">
      Todos los productos
    </button>
  </div>
</div>