<!------------------ Navbar ------------------>
<nav class="navbar fixed-top  shadow-sm navbar-expand-lg navbar-light bg-white">
  <a class="navbar-brand ml-4 font-weight-bold" href="#">iAgri<span class="text-green">Net</span></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02"
    aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
    <ul class="navbar-nav ml-auto mt-2 mt-lg-0 text-center">
      <li class="nav-item">
        <a class="nav-link " href="#"><i class="far fa-comment-dots icon d-block"></i></a>
      </li>
      <li class="nav-item">
        <a class="nav-link d-block active m-2" href="#">Diego Estrada</a>
      </li>
      <li class="nav-item">
        <a class="nav-link d-block" href="#"><img src="./assets/images/user.jpg" height="40" alt="photo"
            class="rounded-circle"></a>
      </li>
    </ul>
  </div>
</nav>