<!------------------ Sidebar - List ------------------>
<div class="list-sidebar">
  <div class="media m-3 mt-5">
    <img src="./assets/images/planta.png" class="align-self-center mr-3 mb-2 img-logo" height="70">
    <div class="media-body mt-3">
      <h5 class="media-title">AgroPacifico</h5>
      <p class="media-description">Agricola del Pacífico S.A <br> de C.V</p>
    </div>
  </div>
  <ul class="list-sidebar">
    <li class="active">
      <a href="#" class="items"><i class="fas fa-pen icon-left"></i> Captura <i
          class="fas fa-chevron-down icon-right"></i></a>
    </li>
    <li class="active">
      <a href="#">Especialistas</a>
    </li>
    <li>
      <a href="#">Presas</a>
    </li>
    <li>
      <a href="#">Futuros</a>
    </li>
    <li>
      <a href="#">Base futuro</a>
    </li>
    <li>
      <a href="#">Oferta y demanda</a>
    </li>
    <li>
      <a href="#">Granos</a>
    </li>
    <li>
      <a href="#">Precio Base</a>
    </li>
    <li>
      <a class="list-generate items" href="#"><i class="far fa-file-alt icon-left text-green"></i>Generar
        Reportes</a>
    </li>
  </ul>
</div>