<!------------------ Table ------------------>
<div class="container">
  <div class="table-responsive">
    <table class="table table-borderless table-hover">
      <thead>
        <tr class="d-flex border border-top">
          <th class="col-lg-3 pl-5 pt-4 pb-4">Producto</th>
          <th class="col-lg-7 pt-4 pb-4">Mes y año</th>
          <th class="col-lg-2 pt-4 pb-4"></th>
        </tr>
      </thead>
      <tbody>
        <tr class="d-flex border border-none">
          <td class="col-lg-3 pl-5"> <img src="./assets/images/favicon.png" class="align-self-center mr-3"
              height="65">Tomate</td>
          <td class="col-lg-7">Agosto 2020</td>
          <td class="col-lg-2"><i class="icons fas fa-redo"></i><i class="icons fas fa-arrow-down"></i></td>
        </tr>
        <tr class="d-flex border border-none">
          <td class="col-lg-3 pl-5"> <img src="./assets/images/favicon.png" class="align-self-center mr-3"
              height="65">Maíz
          </td>
          <td class="col-lg-7">Agosto 2020</td>
          <td class="col-lg-2"><i class="icons fas fa-redo"></i><i class="icons fas fa-arrow-down"></i></td>
        </tr>
        <tr class="d-flex border border-none">
          <td class="col-lg-3 pl-5"> <img src="./assets/images/favicon.png" class="align-self-center mr-3"
              height="65">Frijol</td>
          <td class="col-lg-7">Agosto 2020</td>
          <td class="col-lg-2"><i class="icons fas fa-redo"></i><i class="icons fas fa-arrow-down"></i></td>
        </tr>
        <tr class="d-flex border border-none">
          <td class="col-lg-3 pl-5"> <img src="./assets/images/favicon.png" class="align-self-center mr-3"
              height="65">Arroz
          </td>
          <td class="col-lg-7">Agosto 2020</td>
          <td class="col-lg-2"><i class="icons fas fa-redo"></i><i class="icons fas fa-arrow-down"></i></td>
        </tr>
        <tr class="d-flex border border-none">
          <td class="col-lg-3 pl-5"> <img src="./assets/images/favicon.png" class="align-self-center mr-3"
              height="65">Tomate</td>
          <td class="col-lg-7">Agosto 2020</td>
          <td class="col-lg-2"><i class="icons fas fa-redo"></i><i class="icons fas fa-arrow-down"></i></td>
        </tr>
        <tr class="d-flex border border-none">
          <td class="col-lg-3 pl-5"> <img src="./assets/images/favicon.png" class="align-self-center mr-3"
              height="65">Maíz
          </td>
          <td class="col-lg-7">Agosto 2020</td>
          <td class="col-lg-2"><i class="icons fas fa-redo"></i><i class="icons fas fa-arrow-down"></i></td>
        </tr>
        <tr class="d-flex border border-none">
          <td class="col-lg-3 pl-5"> <img src="./assets/images/favicon.png" class="align-self-center mr-3"
              height="65">Frijol</td>
          <td class="col-lg-7">Agosto 2020</td>
          <td class="col-lg-2"><i class="icons fas fa-redo"></i><i class="icons fas fa-arrow-down"></i></td>
        </tr>
        <tr class="d-flex border border-none">
          <td class="col-lg-3 pl-5"> <img src="./assets/images/favicon.png" class="align-self-center mr-3"
              height="65">Arroz
          </td>
          <td class="col-lg-7">Agosto 2020</td>
          <td class="col-lg-2"><i class="icons fas fa-redo"></i><i class="icons fas fa-arrow-down"></i></td>
        </tr>

      </tbody>
    </table>
  </div>
</div>