<navbar-app></navbar-app>


<!------------------ Content ------------------>
<div class="d-flex mt-5">

  <!------------------ Sidebar ------------------>
  <section id="sidebar" [className]="toggle? 'none': 'active'">
    <div class="toggle" >
      <button (click)="onChangeClass()" class="btn btn-link" type="button"><i class="fas fa-th-large toggle-icon"></i></button>
    </div>

    <sidebar-app></sidebar-app>

  </section>

  <!------------------ Page Content ------------------>
  <section class="container p-4 p-md-5 pt-5">
    
    <content-app></content-app>
    
    <table-app></table-app>
    
  </section>
</div>